.innerdiv {
    display: table-cell;
    vertical-align: middle;
  }
  .btndiv {
    display: flex;
    justify-content: flex-end;
  }
  .maindiv {
    //   display: flex;
    justify-content: center;
  }
  
  // .imageDiv {
  //   overflow-y: auto;
  //   height: 500px;
  // }
  .img {
    height: 450px;
    width: 768px;
  }
  .input-group-addon{
    cursor: pointer;
  }
 
  