.css-i0syzg-menu {
    z-index: 99999 !important;
  }
  
  .css-cw0kh6-control:hover {
    border-color: #a7a7a7 !important;
  }
  
  .css-cw0kh6-control {
    border-color: #a7a7a7 !important;
    box-shadow: 0 0 0 1px #a7a7a7 !important;
    cursor: pointer !important;
    border-width: 0px !important;
  }