@media (min-width: 768px){
  .container-login {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
}

.login-card-body .input-group .form-control.is-invalid,
.register-card-body .input-group .form-control.is-invalid{
  border-right:1px solid #dc3545 !important;
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}